<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>@ViewBag.Title - My ASP.NET MVC Application</title>
  <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <meta name="viewport" content="width=device-width" />
  @Styles.Render("~/Content/css")
  <link rel="stylesheet" href="~/Content/semantic.min.css" />
  @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  
  @{
    var menu = ViewData["menu"] as IEnumerable<WebUI.Model.NavModel>;
  }
  @Html.Partial("_Menu", menu)
  
  <div id="body">
    @RenderSection("featured", required: false)
    <section class="content-wrapper main-content clear-fix">
      @RenderBody()
    </section>
  </div>
  <footer>
    <div class="content-wrapper">;
      <div class="float-left">
        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
      </div>
    </div>
  </footer>

  @Scripts.Render("~/bundles/semantic")
  <script src="~/Scripts/semantic.min.js"></script>
  <script>
    (function () {
     // $('#nav').sidebar('toggle');
    }());
  </script>
  @RenderSection("scripts", required: false)
</body>
</html>
